*.iml
.gradle
/local.properties
/.idea
/.gradle
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
gradle
gradle.properties
gradlew
gradlew.bat
/gradle
build.gradle.kts
settings.gradle.kts